@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #FFFFFF;
  height: 1188px;
  max-width: 2000px;
}

.home-page {
  height: auto;
  width: 100%;
}
.home-page .home-page-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 250px;
  margin-top: 90px;
}
.home-page .home-page-container .section {
  background-color: #FFFFFF;
  flex-direction: column;
  margin: 0;
  padding-top: 15px;
  padding-left: 75px;
  padding-right: 447px;
  height: auto;
  width: 100%;
}
.home-page .home-page-container .section h4 {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  margin-bottom: 15px;
  padding-left: 50px;
}
.home-page .home-page-container .section .popular-post {
  width: 660px;
  height: 43px;
  background-color: #F3F3F3;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 46px;
  margin-bottom: 37px;
}
.home-page .home-page-container .section .popular-post .top {
  margin-right: 47px;
}
.home-page .home-page-container .section .popular-post a {
  text-decoration: none;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 78%;
  /* identical to box height, or 11px */
  color: #000000;
}
.home-page .home-page-container .section .post-container {
  width: 660px;
  height: 340px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding-top: 34px;
  padding-left: 30px;
  margin-top: 30px;
}
.home-page .home-page-container .section .post-container .topic-title {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 78%;
  color: #000000;
  padding-bottom: 12px;
}
.home-page .home-page-container .section .post-container .topic-btn {
  background: #F3F3F3;
  display: inline-block;
  margin-right: px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.home-page .home-page-container .section .post-container .topic-btn .topics {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 78%;
  text-decoration: none;
  color: #000000;
  padding: 5px;
}
.home-page .home-page-container .section .post-container .user-info-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.home-page .home-page-container .section .post-container .user-info-container .profile-section {
  display: flex;
  margin: 0;
}
.home-page .home-page-container .section .post-container .user-info-container .name-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 5px;
  justify-content: center;
}
.home-page .home-page-container .section .post-container .user-info-container .name-section .username {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  padding-top: 4px;
  color: #000000;
}
.home-page .home-page-container .section .post-container .user-info-container .name-section .posted-date {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  padding-top: 6px;
  color: #858585;
  margin: 0;
}
.home-page .home-page-container .section .post-container .topic-post {
  display: inline-block;
  width: 609px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.home-page .home-page-container .section .post-container .topic-post .text {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1px;
  line-height: 20px;
  color: #000000;
}
.home-page .home-page-container .section .reaction-container {
  padding: 3px;
  display: flex;
  flex-direction: column;
  width: 609px;
  margin: 0;
}
.home-page .home-page-container .section .reaction-container .reaction {
  margin: 0;
  padding: 5px;
}
.home-page .home-page-container .section .reaction-container .reaction button {
  font-size: 13px;
  margin-right: 30px;
  border: none;
  background: none;
  cursor: pointer;
}
.home-page .home-page-container .section .reaction-container .reaction button i {
  margin-right: 5px;
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 70px;
  width: 250px;
  padding-top: 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #F3F3F3;
}
.sidebar #start {
  width: 153px;
  height: 48px;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
  background: #3F3D56;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 78%;
  /* identical to box height, or 12px */
  text-align: center;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
.sidebar .start:hover {
  background: #6b6984;
}
.sidebar .topic-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.sidebar .topic-container .button1 {
  padding: 5px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
}
.sidebar .topic-container .button1 .L {
  display: flex;
  margin: 0;
  padding-right: 30px;
}
.sidebar .topic-container .button1 .L i {
  font-size: 15px;
  padding: 5px;
}
.sidebar .topic-container .button1 .R {
  display: flex;
  margin: 0;
}
.sidebar .topic-container .button1 .R .topic-name {
  padding: 5px;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.sidebar .topic-container .button1:hover {
  background-color: #3F3D56;
  color: #FFFFFF;
}
.sidebar h3 {
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 78%;
  color: #000000;
}
.sidebar .popup {
  position: absolute;
  top: 35%;
  left: 262%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 660px;
  background-color: #3F3D56;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 2px 5px;
  transition: top 0ms ease-in-out 200ms, opacity 0ms ease-in-out 0ms, transform 0ms ease-in-out 0ms;
}
.sidebar .popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 15px;
  width: 15px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.sidebar .popup h2 {
  position: absolute;
  margin-top: -35px;
  letter-spacing: 0.015em;
  color: #3F3D56;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 78%;
  /* identical to box height, or 30px */
}
.sidebar .popup .form .form-element1 {
  border-bottom: 2px solid #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 78%;
  letter-spacing: 0.015em;
  color: #ffffff;
  padding-bottom: 2px;
}
.sidebar .popup .form .form-element1 #title {
  border: none;
  height: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 78%;
  padding-left: 3px;
  letter-spacing: 0.015em;
  width: 500px;
  color: #ffffff;
  background-color: transparent;
  outline: none;
}
.sidebar .popup .form .form-element2 {
  border-bottom: 2px solid #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 78%;
  letter-spacing: 0.015em;
  color: #ffffff;
  padding-bottom: 5px;
  padding-top: 3px;
}
.sidebar .popup .form .form-element2 #category1 {
  margin-top: 5px;
  margin-bottom: 3px;
}
.sidebar .popup .form .form-element3 {
  border-bottom: 2px solid #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 78%;
  letter-spacing: 0.015em;
  color: #ffffff;
}
.sidebar .popup .form .form-element3 #textarea {
  border: none;
  height: 130px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  padding-left: 3px;
  padding-top: 5px;
  letter-spacing: 0.015em;
  width: 650px;
  color: #ffffff;
  outline: none;
  text-align: left;
  letter-spacing: 2px;
  background-color: transparent;
}
.sidebar .popup .form .form-element4 {
  display: flex;
  justify-content: space-around;
}
.sidebar .popup .form .form-element4 .custom-file-input {
  background-color: transparent;
  width: auto;
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
  width: 110px;
}
.sidebar .popup .form .form-element4 .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.sidebar .popup .form .form-element4 .custom-file-input::before {
  content: "Image Upload";
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 78%;
  -webkit-user-select: none;
  outline: none;
  white-space: nowrap;
  letter-spacing: 0.015em;
  color: #ffffff;
}
.sidebar .popup .form .form-element4 .publish {
  margin-left: 440px;
  margin-top: 2px;
  width: 88px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 78%;
  /* identical to box height, or 12px */
  letter-spacing: 0.015em;
  background-color: transparent;
  border: 1px solid white;
  color: #ffffff;
}
.sidebar .popup .form .form-element4 .publish:hover {
  background-color: #ffffff;
  color: #3F3D56;
}
.sidebar .popup.active {
  top: 35%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #F3F3F3;
}
.header .left {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 45px;
}
.header .middle {
  flex: 1;
  margin-left: 60px;
  max-width: 470px;
  display: flex;
  align-items: center;
  margin-left: 88px;
  /* From uiverse.io by @satyamchaudharydev */
  /* removing default style of button */
  /* styling of whole input container */
  /* styling of Input */
  /* styling of animated border */
  /* Hover on Input */
  /* here is code of animated border */
  /* styling of close button */
  /* == you can click the close button to remove text == */
  /* close button shown when typing */
  /* sizing svg icons */
}
.header .middle .form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
.header .middle .form {
  --timing: 0.3s;
  --width-of-input: 650px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #3F3D56;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
}
.header .middle .input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
.header .middle .form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
.header .middle .form:focus-within {
  border-radius: var(--after-border-radius);
}
.header .middle input:focus {
  outline: none;
}
.header .middle .form:focus-within:before {
  transform: scale(1);
}
.header .middle .reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
.header .middle input:not(:-moz-placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
.header .middle input:not(:-ms-input-placeholder) ~ .reset {
  opacity: 1;
  visibility: visible;
}
.header .middle input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
.header .middle .form svg {
  width: 17px;
  margin-top: 3px;
}
.header .right {
  width: 400px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: 350px;
}
.header .right .bell {
  height: 35px;
  cursor: pointer;
  margin: 0;
}
.header .right .dropdown {
  margin: 0;
  padding: 5px;
  position: relative;
  display: inline-block;
}
.header .right .dropdown .dropbtn {
  display: flex;
  flex-direction: row;
  width: 154px;
  height: 50px;
  background: #E3E3E3;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.header .right .dropdown .dropbtn .left-profile {
  display: flex;
  margin: -10px;
}
.header .right .dropdown .dropbtn .left-profile img {
  padding-top: 5px;
}
.header .right .dropdown .dropbtn .middle-profile {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 5px;
  justify-content: center;
  text-align: left;
  padding-top: 12px;
}
.header .right .dropdown .dropbtn .middle-profile .name {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #000000;
}
.header .right .dropdown .dropbtn .middle-profile .status {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  padding-top: 4px;
  color: #858585;
  margin: 0;
}
.header .right .dropdown .dropbtn .right-profile {
  display: flex;
  margin: 5px;
}
.header .right .dropdown .dropbtn .right-profile i {
  font-size: 15px;
  padding-top: 10px;
  padding-left: 5px;
}
.header .right .dropdown .dropbtn:hover, .header .right .dropdown .dropbtn:focus {
  background-color: #FFFFFF;
}
.header .right .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 154px;
  border-radius: 5px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header .right .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.header .right .dropdown .show {
  display: block;
}
.header .right .dropdown a:hover {
  background-color: #E3E3E3;
}

.create-post {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 300%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.create-post .create-container {
  display: flex;
  flex-direction: row;
  width: 800;
  height: 500px;
  background-color: red;
  position: relative;
  margin: 10% 10%;
}/*# sourceMappingURL=style.css.map */