@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  background: #FFFFFF; 
  height: 1188px;
  max-width: 2000px;  
}

@import "scss-home/home-page";
@import "scss-home/sidebar-home";
@import "scss-home/header-home";
@import "scss-home/create-post";

