.create-post {
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 300%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  text-align: center;

  .create-container {
    display: flex;
    flex-direction: row;
    width: 800;
    height: 500px;
    background-color: red;
    position: relative;
     
    margin: 10% 10%;
  }
}