.admin-login-page {
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 300%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  text-align: center;

  .login-container {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 500px;
    
    position: relative;
    
    margin: 10% 10%;

    .left-container {
      width: 50%;
      background-color: #6C63FE;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      padding-top: 120px;
    
      .welcome-title {
        font-family: 'Bayon';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        /* or 30px */
        text-align: start;
        letter-spacing: 0.015em;
        
        margin-top: -350px;
        padding-left: 10px;
        padding-bottom: 15px;
        padding-top: 80px;
        color: #FFFFFF;
        position: absolute;
        
        
      }
      .welcome-description {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        text-align: start;
        letter-spacing: 0.015em;
        
        margin-top: -320px;
        padding-left: 10px;
        padding-top: 80px;
        color: #FFFFFF;
        position: absolute;
        width: 32%;
      }
      .img {
        position: relative;
        width: 90%;
      } 
    } 
    .right-container {
      width: 50%;
      text-align: start;
      background-color: white;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      padding-left: 15px;

      .sign-up-title {
        font-family: 'Bayon';
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 100%;

        letter-spacing: 0.015em;
        color: #7363F4;
        padding-top: 50px;
        padding-bottom: 10px;
      }
      .input-container{
        display: flex;
        flex-direction: column;
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        margin-top: 15px;
        
        /* identical to box height, or 11px */
        letter-spacing: 0.015em;
  
        label {
          margin: 0;
          padding-left: 15px;
        }
        input {
          width: 230px;
          height: 30px;
          padding-left: 5px;
          border: 2px solid #000000;
          border-radius: 50px;
          margin-bottom: 5px;
          margin-left: 15px;
          margin-top: 10px;
          padding-left: 15px;
          
          font-family: 'Bai Jamjuree';
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 78%;
          /* or 9px */
          letter-spacing: 0.015em;
          color: #000000;
        }
      }
      .line-four-container {
        margin-top: 20px;
        padding-left: 20px;
  
        .capcha-container {
          width: 232px;
          height: 45px;
          background: rgba(232, 232, 232, 0.5);
          border: 1px solid rgba(0, 0, 0, 0.5);
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 0;
          
          p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 125%;
            /* identical to box height, or 15px */
            
            letter-spacing: 0.13em;
            
            color: #000000;
          }
        }
      }
      .skip-container {
        display: flex;
        flex-direction: row;
        width: 60%;
        margin: 0;
        padding-top: 20px;
        padding-left: 20px;
      
        .createbtn {
          width: 50px;
          height: 50px;
          cursor: pointer;
          background-color: #000000;
          border-radius: 15px;
  
          .arrow {
            margin: 12px;
          }
        }
        .have-account-ad {
          font-family: 'Bai Jamjuree';
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          line-height: 125%;
          /* identical to box height, or 12px */
          letter-spacing: 0.015em;
          color: #000000;
          padding-top: 20px;
          margin-left: -25px;
          text-decoration: none;
        }
        span {
          background-color: #6C63FE;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
      .have-account-ad:hover {
        text-decoration: underline;
      }
      .createbtn:hover {
        background-color: #424242;
      }
      .user-login {
        display: flex;
        width: 90%;
        margin-top: 60px;
        .user {
          font-family: 'Bai Jamjuree';
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          line-height: 125%;
          /* identical to box height, or 12px */
          letter-spacing: 0.015em;
          color: #000000;
          margin: 0;
          padding-left: 240px;
          text-decoration: none;
        }
      }
      .user:hover {
        text-decoration: underline;
      }
    }
    .close2 {
      padding-top: 10px;
      padding-left: 348px;
      cursor: pointer;
    }
  }
}